<link rel="stylesheet" type="text/css" href="/css/adminOrderPage.css" />
<div class="container">
	<div class="header">
		<div class="cell-log">Customer<div class="cell-divider"></div></div>
		<div class="cell-log">Order index<div class="cell-divider"></div></div>
		<div class="cell-log">Date<div class="cell-divider"></div></div>
		<div class="cell-log">Total<div class="cell-divider"></div></div>
		<div class="cell-log">Product list</div>
	</div>
	<div class="list">
		@{
			foreach (AdminPagesViewModel adminPage in Model)
			{
				<div class="item-customer">
					<div class="customer-info">
						<p><b>First name: </b>@(adminPage.customer.firstName)</p>
						<p><b>Last name: </b>@(adminPage.customer.lastName)</p>
						<p><b>Email: </b>@(adminPage.customer.email)</p>
						<p><b>Phone: </b>@(adminPage.customer.phone)</p>
						<p><b>Address: </b>@(adminPage.customer.adress)</p>
					</div>
					<div>
						@{
							foreach (ShopCart cart in adminPage.carts)
							{
							<div class="item">

								<div class="cell index">@(cart.Id)</div>
								<div class="cell date">@(cart.Date)</div>
								<div class="cell sum">$@(MathF.Round(cart.CartTotal, 2))</div>
								<div class="cell products">
									@{
										foreach (var item in cart.items)
										{
											<div class="product-order-cell">
												<div class="product-order-container">
													<div class="product-order-image">
														<img src="@(item.Img)" alt="Product Image" />
													</div>
													<div class="product-order-info">
														<div class="product-order-name">@(item.Name)</div>
														<div class="product-order-details">
															<div class="product-order-quantity">@(item.Quantity)</div>
															<div class="product-order-divider"></div>
															<div class="product-order-price">$@(MathF.Round(item.Price, 2))</div>
														</div>
													</div>
												</div>
											</div>
										}
									}
								</div>
							</div>
							}
						}
					</div>
				</div>
			}
		}
		@{
			
		}
	</div>
</div>