
<h2></h2>
<div class="product-container">
    @{
        if (Model.Products == null)
        {
            <div>
                <h2>No results</h2>
            </div>
            return;
        }
        var productList = Model.Products;
        foreach (Product item in productList.Products)
        {
            <div class="product">
                <div class="product-image">
                    @{
                        var imgList = item.img.Split(',');
                        foreach (string img in imgList)
                        {
                            <img src="@img.ToString()" , alt="@item.name" class="slide">
                        }
                    }
                </div>
                <div class="arrow-container">
                    <div class="prev">
                        <img src="/img/source_img/left-arrow.png" alt="Previous">
                    </div>
                    <div class="next">
                        <img src="/img/source_img/right-arrow.png" alt="Next">
                    </div>
                </div>
                <div class="product-info">
                    <h3 class="product-name">@item.name</h3>
                    <div class="product-line"></div>
                    <div class="product-details">
                        <lable class="product-price">Price: @($"{item.price} $")</lable>
                        <div class="product-quantity">
                            <label>Quantity:</label>
                            <content>@item.quantity</content>
                        </div>
                        @{
                            string data = JsonConvert.SerializeObject(item);
                            <button type="button" class="btn btn-primary" onclick="addToCart(@data)">Add to Cart</button>
                        }
                    </div>
                    
                </div>
            </div>
        }
    }
</div>

<div class="cart-panel">
    <div class="sidebar">
        <div class="cart-header">
            <h3>Cart</h3>
        </div>
        <div class="cart-items" id="replace-items">
            @Html.Partial("../ShopCart/ShopCart.cshtml")
        </div>
    </div>
</div>

<a href="#" class="cart-icon">
    <img src="/img/add-to-basket.png">
</a>


